{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}User Collections{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>{{ count }} collections available:</h1>
    {% for user in users %}
        <div class="user-section" style="margin-bottom: 20px;">
            <h2>
                <span class="heading-container">
                    <a href="{{ url_for('main.user_profile', user_id=user.id) }}">{{ user.username }}</a> has {{ user.cards.count() }} cards, including:
                </span>
            </h2>
            <ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap;">
                {% for card in user.cards[:6] %}
                    <li style="margin-right: 10px; margin-bottom: 10px;">
                        <h3>{{ card.name }}</h3>
                        <div>
                            <a href="{{ url_for('main.view_card', card_id=card.id) }}"> 
                            <img src="{{ url_for('main.image', card_id=card.id) }}" alt="{{ card.name }}" style="width: 200px; height: auto;"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.collections') }}
</div>
{% endif %}
</div>
{% endblock %}
