{% extends "base.html" %}

{% block title %}User Collections{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Card Collections</h1>
    {% for user in users %}
        <div class="user-section" style="margin-bottom: 20px;">
            <h2><a href="{{ url_for('main.user_profile', user_id=user.id) }}">{{ user.username }}'s</a> Cards</h2>
            <ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap;">
                {% for card in user.cards[:6] %}
                    <li style="margin-right: 10px; margin-bottom: 10px;">
                        <h3>{{ card.name }}</h3>
                        <div>
                            <a href="{{ url_for('main.view_card', card_id=card.id) }}"> 
                            <img src="{{ url_for('main.image', card_id=card.id) }}" alt="{{ card.name }}" style="width: 200px; height: auto;"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if user.cards.count() > 6 %}
                <div>
                    <a href="{{ url_for('main.user_profile', user_id=user.id) }}">See all cards</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
