{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}
{% block title %}Collection{% endblock %}

{% block page_content %}
<div class="page-header">
    
    <div class="col-md-4">
        <h1>{{ user.username }}'s Cards</h1>
        {{ wtf.quick_form(form) }}
    </div>
    <ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap;">
        {% for card in cards %}
            <li style="margin-right: 10px; margin-bottom: 10px;">
                <h2>{{ card.name }}</h2>
                <div>
                    <a href="{{ url_for('main.view_card', card_id=card.id) }}">
                    <img src="{{ url_for('main.image', card_id=card.id) }}" alt="{{ card.name }}" style="width: 200px; height: auto;"></a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user_profile', sort) }}
</div>
{% endif %}

        

</div>
{% endblock %}



